.dice {
    width: 35.84px;
    height: 35.84px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    margin-left: 8.96px;
    margin-right: 8.96px;
}

.number {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20.5889px;
    line-height: 24px;
    text-align: center;
    color: #2B283A;
}

.dice--selected {
    width: 35.84px;
    height: 35.84px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #59E391;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    margin-left: 8.96px;
    margin-right: 8.96px;
}